= form_for @store, url: settings_document_stores_github_wiki_index_path, method: :post do |f|
  = f.label :name
  = f.text_field :name

  = f.label :user
  = f.text_field :user

  = f.label :project
  = f.text_field :project

  = f.label :oauth_token
  = f.text_field :oauth_token

  = f.submit