%div{style: 'float:right;margin-right:10%;'} 

  = form_for :invite, url: invites_path, method: :post, html: { class: 'condensed' } do |f|
    %p Add email to invite a user
    = f.text_field :email, placeholder: 'email'
    = f.submit 'Invite'


%table{ cellspacing: 0 }
  %thead
    %tr
      %td Name
      %td Email
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email

%table{ cellspacing: 0 }
  %thead
    %tr
      %td Email
      %td Sent at
      %td Status
  %tbody
    - @invites.each do |invite|
      %tr
        %td= invite.email
        %td= invite.created_at.strftime('%d %B %Y')
        %td
          %em Pending

        

