%table{ cellspacing: 0 }
  %thead
    %tr
      %td Title
      %td Last Reviewed
      %td
      %td
  %tbody
    - @reviews.each do |document|
      %tr
        %td
          - if document.source == 'github'
            %i.fa.fa-2x.fa-github
          - elsif document.source == 'intercom'
            = image_tag 'intercom.png', style: 'height: 22px;'
          - else
            %i.source-icon= document.source[0].capitalize
          &nbsp;
          = link_to document.title, documentation_path(document.id)
        %td= document.last_review.present? ? document.last_review : '-'
        %td
          = link_to 'view', document.original_documentation
        %td
          = link_to '👍', documentation_approve_path(document.id), method: :create, data: { confirm: 'I agree that this all looks A.OK?'}, style: 'text-decoration: none;'
     