<!DOCTYPE html>
<html>
  <head>
    <title>DocumentationReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav>
        <ul>
          <li><%= link_to 'Dashboard', dashboard_path %></li>
          <li><%= link_to 'Documentation', documentation_index_path %></li>
          <li><%= link_to 'Users', settings_users_path %></li>
          <li><%= link_to 'Stores', settings_document_stores_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
    <% else %>
       <nav>
        <ul>
          <li>Everythings <strong>A.OK</strong>
          <li style='float:right;'><%= link_to 'Sign In', new_user_registration_path %></li>
        </ul>
      </nav>
    <% end %>
    <div class='flash'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
